body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

.icon {
  position: absolute;
  color: #fff;
  z-index: 9999;
  animation: snowing linear infinite;
}

@keyframes snowing {
  to {
    transform: translate(calc(100vw + 50%), calc(100vh + 50%)) rotate(360deg);
  }
}