body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1)),url("images/vecteezy_residential-houses-with-christmas-decoration_15370182.jpg");
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: center;
  
}

.icon {
  position: absolute;
  color: #fff;
  z-index: 9999;
  animation: snowing linear infinite, fadeInOut 1s;
}

@keyframes snowing {
  to {
    transform: translate(calc(100vw + 50%), calc(100vh + 50%)) rotate(360deg);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 100%;
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}